<img src="<%= asset_path 'img_banner2.jpg' %>" class="d-block" alt="slide 2" style="height:73vh">
<div class="banner-text ms-5 mt-5 ps-3">
  <h3 class="banner-text-title">Sua <span class="mb-0 p-0" style="background-color: #6f6fabab;">Jornada Rumo ao Altar</span> Começa Aqui!</h3>
  <p class="banner-text-phrase">Explore recursos exclusivos, inspire-se
  com ideias criativas e receba suporte personalizado
  para tornar seu casamento dos sonhos uma realidade
  na Casa dos Noivos. Junte-se à nossa comunidade
  apaixonada e comece sua jornada hoje mesmo!</p>
</div>
