<img src="<%= asset_path 'img_banner3.jpg' %>" class="d-block w-100" alt="slide 3">
<div class="banner-text">
  <h3>Celebre o Amor na Casa dos Noivos!</h3>
  <p>Seja bem-vindo a um lugar onde o amor
  é celebrado em cada detalhe. Descubra ideias
  encantadoras, compartilhe experiências emocionantes
  e receba suporte caloroso enquanto você e seu parceiro
  embarcam na jornada mágica do planejamento do casamento.
  Junte-se a nós e deixe o amor florescer na Casa dos Noivos!</p>
</div>
