<img src="<%= asset_path 'img_banner3.jpg' %>" class="d-block" alt="slide 3" style="height:73vh">
<div class="banner-text ms-5 mt-5 ps-3">
  <h3 class="banner-text-title"><span class="mb-0 p-0" style="background-color: #6f6fabab;">Celebre o Amor</span> na Casa dos Noivos!</h3>
  <p class="banner-text-phrase">Seja bem-vindo a um lugar onde o amor
  é celebrado em cada detalhe. Descubra ideias
  encantadoras, compartilhe experiências emocionantes
  e receba suporte caloroso enquanto você e seu parceiro
  embarcam na jornada mágica do planejamento do casamento.
  Junte-se a nós e deixe o amor florescer na Casa dos Noivos!</p>
</div>
