
 <img src="<%= asset_path 'img_banner2.jpg' %>" class="d-block w-100" alt="slide 2">
 <div class="banner-text">
   <h3>Sua Jornada Rumo ao Altar Começa Aqui!</h3>
   <p>Explore recursos exclusivos, inspire-se
   com ideias criativas e receba suporte personalizado
   para tornar seu casamento dos sonhos uma realidade
   na Casa dos Noivos. Junte-se à nossa comunidade
   apaixonada e comece sua jornada hoje mesmo!</p>
 </div>
