  <img src="<%= asset_path 'img_banner1.jpg' %>" class="d-block w-100" alt="slide 1">
  <div class="banner-text">
    <h2>Organize o casamento dos seus sonhos com a Casa dos Noivos.</h2>
    <%= link_to "cadastre-se", new_user_registration_path, class: "btn btn-primary" %>
  </div>
