<div class="row justify-content-center align-items-center my-4">
  <div class="col-md-6 bg-white p-5 mt-5 rounded-4 shadow">
    <h2 class="text-center mb-4 userw-title-text">Editar seu convidado</h2>
    <%= render "guest_form" %>
  </div>
</div>
