// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$card-bege: #f6f6ee;
$dark-blue-wed: #222f92;
$wed-button: #6f6fab;
$new-gray: #FBE1C6;
