<div class="input-group" data-controller="clipboard" data-clipboard-feedback-text-value="Copiado!">
  <input class="form-control" data-clipboard-target="input" type="text" value="www.casadosnoivos.online<%= wedding_info_path(@user_wedding, @couple) %>" readonly>
  <div class="input-group-append">
    <button id="copy-button" class="btn btn-outline-warning" data-action="click->clipboard#copy">Clique para copiar</button>
  </div>
</div>
