<div class="d-none d-flex flex-column m-3 rounded-4 shadow container-user-wedding" data-toggle-target="togglableElementChoiceCasamento">

  <div class="flex-grow-1 d-flex user-bg-info-wed justify-content-between align-items-center rounded-top-4">
    <!-- Choice section -->
    <div class="border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3 flex-grow-1" data-action="click->toggle#fireCasamentoInfo">
      <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Casamento</h4>
    </div>
    <div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3 flex-grow-1" data-action="click->toggle#firePresentesInfo">
      <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Lista de Presentes</h4>
    </div>
    <div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3 flex-grow-1" data-action="click->toggle#fireConvidadosInfo">
      <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Lista de Convidados</h4>
    </div>
    <div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3 flex-grow-1" data-action="click->toggle#firePresentesRecebidos">
      <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Presentes Recebidos</h4>
    </div>
  </div>

  <div class="w-100 h-100 bg-white rounded-bottom-4 p-4" data-toggle-target="togglableElement" data-toggle-element="casamentoInfo">
    <!-- Summary of the wedding information -->
    <%= render "info_wedding" %>
  </div>

  <div class="scroll-card-wed w-100 h-100 bg-white rounded-bottom-4 p-4 d-none" data-toggle-target="togglableElement" data-toggle-element="presentesInfo">
    <!-- Summary of the wedding gift list -->
    <%= render "gifts" %>
  </div>

  <div class="scroll-card-wed w-100 h-100 bg-white rounded-bottom-4 p-4 d-none" data-toggle-target="togglableElement" data-toggle-element="convidadosInfo">
    <!-- Summary of the wedding guest list -->
    <%= render "guests" %>
  </div>

  <div class="scroll-card-wed w-100 h-100 bg-white rounded-bottom-4 p-4 d-none" data-toggle-target="togglableElement" data-toggle-element="presentesRecebidos">
    <!-- Summary of the wedding received gifts -->
    <%= render "orders" %>
  </div>
</div>
