<div class="container my-5 ps-5">
  <div class="d-flex border info-user-size">
    <div class="border">
      <ul>
        <li>Meus dados</li>
        <li>Meu casamento</li>
      </ul>
    </div>
    <%= render 'dados_user' %>
  </div>
</div>
