<div class="flex-grow-1 d-flex flex-column justify-content-between">
  <div class="border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow" data-toggle-target="btnDados" data-action="click->toggle#fireChoiceDados">
    <h4 class="fw-bold user-comp-text m-0">Meus dados</h4>
  </div>
  <div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow" data-toggle-target="btnCasamento" data-action="click->toggle#fireChoiceCasamento">
    <h4 class="fw-bold user-comp-text m-0">Meu casamento</h4>
  </div>
  <div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow">
    <%= link_to 'Retornar', root_path, class: "h4 text-decoration-none user-comp-text m-0" %>
  </div>
</div>
