 <div class="col-sm-3 border-end">
  <div class="border rounded-4">
    <h2 class="m-0">Seu casamento <i class="fa-solid fa-ring" style="color: #ffe485;"></i></h2>
  </div>
  <div class="border rounded-4 d-flex">
    <%= link_to wedding_info_path(@user_wedding, @couple) do %>
      <div><i class="fa-regular fa-eye me-2"></i></div>
    <% end %>
    <%= link_to edit_wedding_path(@user_wedding) do %>
      <div><i class="fa-solid fa-pen me-2"></i></div>
    <% end %>
    <%= link_to wedding_path(@user_wedding), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" } do %>
      <div><i class="fa-solid fa-xmark" style="color: #ff0000;"></i></div>
    <% end %>
  </div>
  <p>Compartilhe com seus convidados!</p>
  <%= render 'copy_link' %>
</div>
