<div class="col-md-4">
  <div class="card bg-info">
    <img src="<%= asset_path 'img_confirmacao_presenca.jpg' %>" class="cards-img-top" alt="confirmação de presença">
    <div class="card-body card-body-size">
      <div class="text-wrap">
        <h5 class="card-title">Confirmação de presença convidados</h5>
        <p class="card-text">Garanta uma contagem precisa e sem complicações dos seus convidados com nossa ferramenta de confirmação online. Envie convites digitais elegantes, acompanhe as respostas dos convidados e gerencie facilmente qualquer atualização de última hora.</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>


