<div class="col-md-4">
  <div class="card border border-none shadow-sm user-bg-info-wed-radius">
    <img src="<%= asset_path 'img_confirmacao_presenca.jpg' %>" class="cards-img-top" alt="confirmação de presença">
    <div class="card-body card-body-size d-flex flex-column justify-content-between">
      <div class="p-0 h-100">
        <h5 class="card-title userw-title-text mt-2 mb-4 p-0">Confirmação de presença</h5>
        <p class="card-text userw-text-just userw-title-text-s m-0 p-0">Garanta uma contagem precisa e sem complicações dos seus convidados com nossa ferramenta de confirmação online. Envie convites digitais elegantes, acompanhe as respostas dos convidados e gerencie facilmente qualquer atualização de última hora.</p>
      </div>
      <div class="card-footer mb-3 bg-warning shadow rounded-3"></div>
    </div>
  </div>
</div>
