<div class="col-md-4">
  <div class="card bg-info">
    <img src="<%= asset_path 'img_gestao_de_casamento.jpg' %>" class="cards-img-top" alt="gestao de casamento">
    <div class="card-body card-body-size">
      <div class="text-wrap">
        <h5 class="card-title">Gestão de Casamento</h5>
        <p class="card-text">Celebre o amor com facilidade! Nosso serviço de gestão de casamentos simplifica cada etapa do planejamento, desde a escolha do local até a seleção dos fornecedores. Deixe-nos cuidar dos detalhes para que você possa focar no que realmente importa.</p>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
</div>
