<div class="col-md-4">
  <div class="card bg-info">
    <img src="<%= asset_path 'img_site_personalizado.jpg' %>" class="cards-img-top" alt="site personalizado">
    <div class="card-body card-body-size">
      <div class="text-wrap">
        <h5 class="card-title">Site Personalizado</h5>
        <p class="card-text">Dê vida ao seu casamento com um site personalizado que reflete a sua história única de amor. Com layouts elegantes e ferramentas intuitivas, criamos um espaço online exclusivo para compartilhar informações importantes.</p>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
</div>
