<div class="col-md-4">
  <div class="card bg-info">
    <img src="<%= asset_path 'img_presentes.jpg' %>" class="cards-img-top" alt="presentes">
    <div class="card-body card-body-size">
      <div class="text-wrap">
        <h5 class="card-title">Gestão de Presentes</h5>
        <p class="card-text">Simplifique a experiência de presentear com nosso serviço de gestão de presentes. Crie uma lista de desejos personalizada, compartilhe-a facilmente com seus convidados e acompanhe os presentes recebidos em tempo real.</p>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
</div>
