<div class="col-md-4">
  <div class="card bg-info">
    <img src="<%= asset_path 'img_dashboard.jpg' %>" class="cards-img-top" alt="dashboard">
    <div class="card-body card-body-size">
      <div class="text-wrap">
        <h5 class="card-title">Dashboard Personalizado para Acompanhar o Casamento</h5>
        <p class="card-text"> Mantenha-se organizado e informado a cada passo do caminho com o nosso dashboard personalizado para acompanhar o seu casamento. Desde a contagem regressiva até o grande dia até o gerenciamento de tarefas e RSVPs, tenha tudo sob controle.</p>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
</div>
