<div class="col-md-4">
  <div class="card border border-none shadow-sm user-bg-info-wed-radius">
    <img src="<%= asset_path 'img_compartilhamento_fotos_casal.jpg' %>" class="cards-img-top" alt="gestao de casamento">
    <div class="card-body card-body-size d-flex flex-column justify-content-between">
      <div class="p-0 h-100">
        <h5 class="card-title userw-title-text mt-2 mb-4 p-0">Compartilhamento de Fotos e Vídeos</h5>
        <p class="card-text userw-text-just userw-title-text-s m-0 p-0" style="word-break:break-all">Um espaço dedicado para compartilhar fotos e vídeos do casal, desde o início do relacionamento até o grande dia, é um diferencial importante. Isso permite que os convidados acompanhem a jornada do casal e também compartilhem suas próprias fotos do evento.</p>
      </div>
      <div class="card-footer mb-3 bg-warning shadow rounded-3"></div>
    </div>
  </div>
</div>
