<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active" data-bs-interval="10000" >
      <%=render 'pages/banners/banner1'  %>
    </div>

    <div class="carousel-item" data-bs-interval="2000" >
      <%=render 'pages/banners/banner2'  %>
    </div>

    <div class="carousel-item">
      <%=render 'pages/banners/banner3'  %>
    </div>

  </div>

  <button class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" type="button" >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" type="button" >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
