
<div>
  <div class="row align-items-center justify-content-center">
    <div class="col-md-10 text-center" id="diferenciais">
      <h3 class="userw-text-g mb-3">Nossos diferenciais</h3>
      <p class="userw-text-g userw-text-just userw-text-line-h">Descubra nossos diferenciais: atendimento personalizado, criatividade excepcional e atenção aos detalhes. Com uma equipe dedicada e experiente, estamos prontos para superar suas expectativas e tornar seu evento verdadeiramente memorável. Deixe-nos cuidar de cada aspecto, enquanto você aproveita cada momento especial.</p>
    </div>
  </div>
  <section class="buffer-cds"></section>
  <div class="row align-items-center justify-content-center mx-5">
    <hr class="my-4">
    <div class="col-md-4 me-4">
      <h5 class="userw-title-text text-center mb-4">Zero Taxa</h5>
      <p class="userw-title-text-s userw-text-just userw-text-line-h">Nenhuma taxa extra! Economize seu dinheiro para o que realmente importa em seu grande.</p>
    </div>
    <div class="col-md-6">
      <img src="<%= asset_path 'img_card_zero_taxa.jpg' %>" class="cards-imgs-top shadow-sm" alt="zero taxa">
    </div>
  </div>

  <div class="row align-items-center justify-content-center mx-5">
    <hr class="my-4">
    <div class="col-md-4 me-4">
      <h5 class="userw-title-text text-center mb-4">Passo a passo detalhado de como organizar o seu casamento</h5>
      <p class="userw-title-text-s userw-text-just userw-text-line-h">Organize seu casamento sem estresse com nosso guia detalhado, passo a passo. Do planejamento à execução, estamos aqui para ajudar.</p>
    </div>
    <div class="col-md-6">
      <img src="<%= asset_path 'img_card_org_wedding.jpg' %>" class="cards-imgs-top shadow-sm" alt="passo a passo">
    </div>
  </div>

  <div class="row align-items-center justify-content-center mx-5">
    <hr class="my-4">
    <div class="col-md-4 me-4">
      <h5 class="userw-title-text text-center mb-4">Interface moderna, intuitiva e amigável</h5>
      <p class="userw-title-text-s userw-text-just userw-text-line-h">Nossa plataforma apresenta uma interface moderna, intuitiva e amigável. Facilite o planejamento do seu casamento com apenas alguns cliques.</p>
    </div>
    <div class="col-md-6">
      <img src="<%= asset_path 'img_card_facil_intuitivo.jpg' %>" class="cards-imgs-top shadow-sm" alt="interface Moderna e intuitiva">
    </div>
  </div>
</div>
