
<div class="container " id="diferenciais">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Nossos diferenciais</h2>
      <p>Descubra nossos diferenciais: atendimento personalizado, criatividade excepcional e atenção aos detalhes. Com uma equipe dedicada e experiente, estamos prontos para superar suas expectativas e tornar seu evento verdadeiramente memorável. Deixe-nos cuidar de cada aspecto, enquanto você aproveita cada momento especial.</p>
    </div>

    <div class="col-md-4">
      <div class="card bg-info">
        <img src="<%= asset_path 'img_card_zero_taxa.jpg' %>" class="card-img-top" alt="zero taxa">
        <div class="card-body card-body-size">
          <div class="text-wrap">
            <h5 class="card-title">Zero Taxa</h5>
            <p class="card-text"> Nenhuma taxa extra! Economize seu dinheiro para o que realmente importa em seu grande dia. </p>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-info">
        <img src="<%= asset_path 'img_card_org_wedding.jpg' %>" class="card-img-top" alt="passa a passo">
        <div class="card-body card-body-size">
          <div class="text-wrap">
            <h5 class="card-title">passo a passo detalhado de como organizar o seu casamento</h5>
            <p class="card-text"> Organize seu casamento sem estresse com nosso guia detalhado, passo a passo. Do planejamento à execução, estamos aqui para ajudar. </p>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-info">
        <img src="<%= asset_path 'img_card_facil_intuitivo.jpg' %>" class="card-img-top" alt="interface Moderna e intuitiva">
        <div class="card-body card-body-size">
          <div class="text-wrap">
            <h5 class="card-title">Interface moderna, intuitiva e amigável</h5>
            <p class="card-text"> Nossa plataforma apresenta uma interface moderna, intuitiva e amigável. Facilite o planejamento do seu casamento com apenas alguns cliques. </p>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
