<div class="container mt-5 mr-8">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <h3 class="card-title text-center">Nossos Diferenciais</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Experiência Intuitiva e Amigável para o Usuário</h5>
              <p class="card-text-center"> Navegar pelo nosso site é fácil e intuitivo,
              Desde a criação de um perfil e a exploração de recursos até a interação com
              outros membros da comunidade, garantimos que cada etapa da jornada do usuário
              seja suave e agradável, facilitando o processo de planejamento do casamento e
              proporcionando uma experiência positiva para todos os nossos usuários. </p>
            </div>
          </div>
          <div class="col-md-6">
            <img src="<%= asset_path 'img_casamento_1.jpg' %>" class="card-img" alt="Imagem 1">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="row flex-row-reverse">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Recursos Inovadores e Tecnologia Avançada</h5>
              <p class="card-text-center">Estamos sempre atualizados com as últimas
              tendências e tecnologias do setor de casamentos. No Casados Noivos,
              oferecemos recursos inovadores e ferramentas de última geração para
              auxiliar os casais em seu planejamento de casamento.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <img src="<%= asset_path 'img_casamento_2.jpg' %>" class="card-img" alt="Imagem 2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
