
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 mx-auto text-center" id="diferenciais">
      <h3>Nossos diferenciais</h3>
      <p>Descubra nossos diferenciais: atendimento personalizado, criatividade excepcional e atenção aos detalhes. Com uma equipe dedicada e experiente, estamos prontos para superar suas expectativas e tornar seu evento verdadeiramente memorável. Deixe-nos cuidar de cada aspecto, enquanto você aproveita cada momento especial.</p>
    </div>
  </div>

  <div class="row align-items-center mt-5 border-top">
    <div class="col-md-4 me-5 text-center">
      <h5>Zero Taxa</h5>
      <p>Nenhuma taxa extra! Economize seu dinheiro para o que realmente importa em seu grande</p>
    </div>
    <div class="col-md-6">
      <img src="<%= asset_path 'img_card_zero_taxa.jpg' %>" class="cards-imgs-top" alt="zero taxa">
    </div>
  </div>

  <div class="row align-items-center mt-5 border-top">
    <div class="col-md-4 me-5 text-center">
      <h5>Passo a passo detalhado de como organizar o seu casamento</h5>
      <p>Organize seu casamento sem estresse com nosso guia detalhado, passo a passo. Do planejamento à execução, estamos aqui para ajudar.</p>
    </div>
    <div class="col-md-6 me-2">
      <img src="<%= asset_path 'img_card_org_wedding.jpg' %>" class="cards-imgs-top" alt="passo a passo">
    </div>
  </div>

  <div class="row align-items-center mt-5 border-top">
    <div class="col-md-4 me-5 text-center">
      <h5>Interface moderna, intuitiva e amigável</h5>
      <p>Nossa plataforma apresenta uma <span> interface moderna, intuitiva e amigável </span>. Facilite o planejamento do seu casamento com apenas alguns cliques.</p>
    </div>
    <div class="col-md-6">
      <img src="<%= asset_path 'img_card_facil_intuitivo.jpg' %>" class="cards-imgs-top" alt="interface Moderna e intuitiva">
    </div>
  </div>
</div>
