<footer class="footer">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Ao utilizar este site, você concorda com a coleta e o uso de suas informações pessoais de acordo com nossa <strong>Política de Privacidade</strong>.</p>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="text-center">&copy; 2024 Casa dos Noivos. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>
