<div class="input-group" data-controller="clipboard" data-clipboard-feedback-text-value="Copiado!">
  <input class="form-control" data-clipboard-target="input" type="text" value="<%= root_path %>" readonly>
  <div class="input-group-append">
    <button class="btn btn-outline-warning w-100" data-action="click->clipboard#copy">Clique para copiar</button>
  </div>
</div>
