<div class="border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3 flex-grow-1" data-action="click->toggle#fireCasamentoInfo">
  <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Casamento</h4>
</div>
<div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3 flex-grow-1" data-action="click->toggle#firePresentesInfo">
  <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Lista de Presentes</h4>
</div>
<div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3 flex-grow-1" data-action="click->toggle#fireConvidadosInfo">
  <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Lista de Convidados</h4>
</div>
<div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3 flex-grow-1" data-action="click->toggle#firePresentesRecebidos">
  <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Presentes Recebidos</h4>
</div>
