<section class="wedding-section-banner">
  <div class="wed-banner-message">
    <% if @wedding %>
      <h1><%= @wedding.user.first_name.upcase%> E <%= @partner_name.upcase %></h2>
    <% end %>
    <section class="buffer-wed"></section>
    <h3>vão casar</h3>
    <section class="buffer-wed"></section>
    <h5><%= @date %></h5>
  </div>
</section>
