<span class="messages-width border border-1 rounded-3 shadow-sm">
  <h2 id="presenca" class="m-0 text-center wed-message-title">Confirme a sua presença</h2>
</span>
<div class="d-flex flex-column align-items-center" data-controller="attendance"
     data-attendance-guests-value="<%= @guests.to_json %>">
  <div class="d-flex flex-column align-items-center" data-attendance-target="formGuestElement">
    <p id="wed-confirmation-title" class="text-secondary text-center ">PARA CONFIRMAR SUA PRESENÇA, É SÓ PROCURAR PELO SEU NOME<br>NO CAMPO ABAIXO
      E INCLUIR OS DADOS SOLICITADOS</p>
    <div class="w-75">
      <div class="form">
        <input id="guestNameInput" class="form-control" data-action="keyup->attendance#guestName" data-attendance-target="input" type="text"
               placeholder="Seu nome aqui" aria-label="default input example">
        <div class="d-flex justify-content-center mt-2" data-action="click->attendance#searchGuest" data-attendance-target="divSubmit">
          <button id="searchButton" type="submit" class="btn bnt-wed-conf w-50">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-none" data-attendance-target="guestForm">
    <div class="d-flex flex-column align-items-center">
      <h3 id="wed-confirmation-title" class="text-center">Precisamos verificar se você realmente é responsável por esse convite!</h3>
      <p>Complete as informações abaixo:</p>
      <div class="w-50">
        <div class="form">
          <input id="guestEmailInput" class="form-control mt-2" data-attendance-target="guestEmail" type="email"
                 placeholder="Seu e-mail" aria-label="default input example">
          <div class="invalid-feedback d-none" data-attendance-target="guestEmailError">Email inválido</div>
          <input id="guestPhoneInput" class="form-control mt-2" data-attendance-target="guestPhone" type="text"
                 placeholder="Seu telefone" aria-label="default input example">
          <div class="invalid-feedback d-none" data-attendance-target="guestPhoneError">Telefone inválido</div>
          <textarea id="confirmationMessage" class="form-control mt-2" data-attendance-target="confirmationMessage"
                 placeholder="Deixe uma pequena mensagem para os noivos" aria-label="default input example" maxlength="131"></textarea>
          <div class="errorMessages" data-attendance-target="errorMessages"></div> <!-- Adiciona o elemento para exibir as mensagens de erro -->
          <div class="mt-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input radio-wed" type="radio" name="attendance" id="confirmAttendanceRadio" value="confirm"
                     data-action="click->attendance#radioSelection">
              <label class="form-check-label" for="confirmAttendanceRadio">Confirmar Presença</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input radio-wed" type="radio" name="attendance" id="declineAttendanceRadio" value="decline"
                     data-action="click->attendance#radioSelection">
              <label class="form-check-label" for="declineAttendanceRadio">Não Irei Comparecer</label>
            </div>
          </div>
          <div class="d-flex mt-2">
            <button id="submitAttendanceButton" class="btn btn-wed-conf flex-grow-1 me-2"
                    data-action="click->attendance#submitAttendance">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center d-none mt-3" data-attendance-target="successMessages">
    <!-- Div para exibir mensagens de sucesso -->
  </div>
  <div class="text-center d-none mt-3" data-attendance-target="confirmationMessages">
    <!-- Div para exibir mensagens de confirmação -->
  </div>
</div>
