<span class="my-4 messages-width border border-1 bg-secondary-subtle rounded-3 shadow-sm p-3">
  <h2 id="presenca" class="m-0 text-center">Confirme a sua presença</h2>
</span>
<div class="d-flex flex-column align-items-center">
  <p class="text-secondary text-center">PARA CONFIRMAR SUA PRESENÇA, É SÓ PROCURAR PELO SEU NOME<br>NO CAMPO ABAIXO
  E INCLUIR OS DADOS SOLICITADOS</p>
  <div class="w-75">
    <input class="form-control" type="text" placeholder="Seu nome aqui" aria-label="default input example">
    <div>
      <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>
  </div>
</div>
