<div class="d-flex align-items-center justify-content-center
            border bg-secondary-light rounded-4 shadow-sm final-message-size
            w-75">
  <% if @days_left > 0 %>
    <h4 class="wed-text-color wed-message-title m-0">Faltam <strong class="bg-danger px-1"><%= @days_left %></strong> dias para o nosso casamento</h4>
  <% elsif @days_left == 1 %>
    <h4 class="wed-text-color wed-message-title m-0">Falta <strong class="bg-danger px-1"><%= @days_left %></strong> dia para o nosso casamento</h4>
  <% else %>
    <h4 class="wed-text-color wed-message-title userw-text-just userw-text-line-h m-0 px-5">SE VOCÊ ESTÁ LENDO ESSA MENSAGEM, <strong class="bg-danger px-1">NÓS JÁ ESTAMOS CASADOS!!</strong> AGRADECEMOS A TODOS QUE CONSEGUIRAM COMPARECER A NOSSA FESTA!</h4>
  <% end %>
</div>
