<span class="my-4">
  <h2 id="mensagens">Mensagens para o casal</h2>
</span>
<div class="messages-width border border-1 bg-secondary-subtle rounded-4 shadow p-5">
  <div class="border shadow-sm rounded-3 p-2 text-center">
    <p>Como é bom ter Amigos e pessoas especiais em nossas vidas! Você administra todas as
    mensagens que receber pelo seu painel, pode aprovar e se necessário deletá-las! Já pode
    começar por essas aqui! :-P</p>
    <strong>Aragorn</strong>
    <p>11 de Março de 2024</p>
  </div>
  <div class="border shadow-sm">
  </div>
</div>
