<span class="my-4">
  <h2 id="mensagens">Mensagens para o casal</h2>
</span>
<div class="messages-width border border-1 bg-secondary-subtle rounded-4 shadow p-5">
  <div class="border shadow-sm rounded-3 p-2 text-center">
    <% @wedding_guests_messages.each do |guest| %>
        <p><%= guest.confirmation_message %></p>
        <strong><%= guest.full_name %></strong>
        <p><%= guest.created_at.strftime("%d/%m/%Y") %></p>
    <% end %>
  </div>
</div>
