<span class="d-flex justify-content-start">
  <h2 id="mensagens" class="wed-message-title mb-5">Mural de mensagens</h2>
</span>
<div class="messages-width d-flex flex-wrap justify-content-center border border-1 shadow p-5 h-50" style="gap= .8%">
  <% @wedding_guests_messages.each do |guest| %>
    <div class="d-flex flex-column justify-content-between messages-height border-mes-wed p-2 text-center m-1 wedding-user-card-size">
      <span>
        <p class="fst-italic m-0 userw-title-text-s"><%= guest.confirmation_message.capitalize %></p>
      </span>
      <span>
        <p class="m-0 p-0 userw-title-text"><%= guest.full_name.capitalize.gsub(/(\s+\w)/) { |name| name.upcase } %></p>
      </span>
    </div>
  <% end %>
</div>
