<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Confirme sua presença</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Recepção</a>
  </li>
  <li class="nav-item">
    <%= link_to "Lista de presentes", wedding_gifts_path(@user_wedding), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link">Mensagens</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Dicas</a>
  </li>
</ul>
