<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Confirme sua presença</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Recepção</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Lista de presentes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Mensagens</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Dicas</a>
  </li>
</ul>
