<ul id="anchors-nav-wed" class="nav justify-content-center align-items-center nav-wed-size gap-2 anchors-nav-wed-scrollspy">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#presenca">Confirme sua presença</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#recepcao">Recepção</a>
  </li>
  <li class="nav-item">
    <%= link_to "Lista de presentes", presentes_path(@user_wedding), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#mensagens">Mensagens</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#dicas">Dicas</a>
  </li>
</ul>
