.bpages {
  background-color: #FAFAFA;
}

.bwed-grey {
  margin: 0;
  padding: 0;
  flex: 1;
  z-index: 5;
  position: relative;
  color: #000;
  height: 100%;
}

.bwed-grey-img {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('wedding/pexels-henry-&-co-1939485');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: .5;
  width: 100%;
  height: 100%;
}

.blur-wed {
  backdrop-filter: blur(1.5px);
}

.parallax-wed {
  position: relative;
  background-image: url('wedding/pexels-karolina-grabowska-4041393');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 99vw;
}

.user-bg-info-wed {
  background-color: #f8f9fa;
}

.user-bg-info-wed-radius {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.user-bg-info-wed-content {
  background-color: #f4f4f4;
}

.user-comp-info-wed {
  background-color: #E6E6FA;
}
