.banner-text {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-40%, -60%);
  text-align: center !important;
}

.banner-text-title {
  font-size: 1.9em !important;
  color: white !important;
  letter-spacing: .8px;
}

.banner-text-phrase {
  font-size: 1.19em !important;
  line-height: 1.48em !important;
  color: white !important;
  text-align: justify !important;
  letter-spacing: .4px;
}
