.card{
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  background-color: white;
  padding: 20px;
  transition: 5s;

}

.card img{
  width: auto;
 border-radius: 6px;
}
.container {
  padding: 2px 16px;
  margin-top: 20px;
};
