.container-presente {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card-presente {
  background-color: #ffffffd5;
  border-radius: 5px;
  padding: 30px;
  width: 700px;
  margin-top: 10px;
  align-items: center;
}
