#reviewCarouselCustom {
  .carousel-item-custom {
    text-align: center;
    padding: 20px;
  }

  .carousel-inner-custom {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-control-prev-custom,
  .carousel-control-next-custom {
    width: auto;
  }
}

/* Estilos para os cards de reviews */
.card-custom {
  width: 400px; /* Largura reduzida para tornar os cards menores */
  margin: auto; /* Centraliza os cards horizontalmente no carousel */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
  border-radius: 10px; /* Adiciona bordas arredondadas */
}

.card-body-custom {
  padding: 30px; /* Reduz o padding para ajustar ao tamanho menor do card */
  border-radius: 10px; /* Adiciona bordas arredondadas */
  height: 100%; /* Ajusta a altura do card para preencher o espaço */
}

.card-text-custom {
  margin-bottom: 80px; /* Reduz a margem inferior para espaçamento mais compacto */
  
}

.avatar-small-custom {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}
