.cards-img-top {
  width: 35%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


.cards-imgs-top {
  height: 100%;
  width: 35vw;
  border-radius: 8px;
}

.card-body-size {
  min-height: 300px;
}
