.card-wedding-gift-body {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffffd5;
  transition: 0.6s;
  margin-bottom: 1.5em;
  min-height: 65vh;
}

.card-wedding-gift-body img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px
}

.card-wedding-gift-body:hover {
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2);
  transition: 0.6s;
}

.card-wedding-gift-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}


.card-wedding-gift-info {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card-wedding-gift-title {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.card-wedding-gift-description {
  display: flex;
  justify-content: space-between;
}
