#carouselExampleIndicators {
  height: 33.33vw;
  overflow: hidden;
  width: 50px auto;
}

.carousel-inner {
  height: 100%;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 40vh;

  &:hover{
    filter: brightness(80%);
  }
}
