.nav-wed-size {
  height: 28vh !important;
}

.final-message-size {
  height: 28vh !important;
}

.messages-width {
  width: 100% !important;
  box-sizing: unset;
}

#copy-button {
  width: 100%;
}

.info-user-size {
  height: 80vh !important;
  width: 100% !important;
}

// Scroll user profile

.scroll-card {
  overflow-y: scroll;
  height: 50vh;
}
