<div class="d-flex flex-column m-3 rounded-4 shadow 100vw container-user-wedding" data-toggle-target="togglableElementChoiceDados">
  <div class="flex-grow-1 d-flex user-bg-info-wed justify-content-between align-items-center rounded-top-4">
    <%= render "users/user_data/user_sections" %>
  </div>
  <div class="w-100 h-100 bg-white rounded-bottom-4 p-4" data-toggle-target="togglableElement" data-toggle-element="dados">
    <%= render "users/user_data/user_login_info" %>
  </div>
  <div class="scroll-card-wed w-100 h-100 bg-white rounded-bottom-4 p-4 d-none" data-toggle-target="togglableElement" data-toggle-element="userInfo">
    <%= render "users/user_data/user_info" %>
  </div>
  <div class="scroll-card-wed w-100 h-100 bg-white rounded-bottom-4 p-4 d-none" data-toggle-target="togglableElement" data-toggle-element="amor">
    <%= render "users/user_data/partner_info" %>
  </div>
</div>
