<% if @user_wedding %>
  <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
    <i class="fa-solid fa-person fa-lg m-0 p-0 mx-3 wedding-icons-color"></i>
    <p class="m-0 p-0 userw-title-text"><strong>Nome:</strong> <%= @user_wedding&.partner_first_name.capitalize %> </p>
  </div>
  <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
    <i class="fa-solid fa-person fa-lg m-0 p-0 mx-3 wedding-icons-color"></i>
    <p class="m-0 p-0 userw-title-text"><strong>Sobrenome: </strong> <%= @user_wedding&.partner_last_name.capitalize %> <p>
  </div>
  <div class="mt-4 mx-1 w-50">
    <%= link_to "Editar", edit_wedding_path(@user_wedding), class: "btn btn-outline-warning rounded-3 shadow-sm w-25" %>
  </div>
<% else %>
  <h2>Casamento ainda não criado</h2>
<% end %>
