<div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3" data-action="click->toggle#fireDados">
  <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Informações de Login</h4>
</div>
<div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3" data-action="click->toggle#fireUserInfo">
  <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Informações Pessoais</h4>
</div>
<div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3" data-action="click->toggle#fireAmor">
  <h4 class="fw-bold user-comp-text m-0 userw-title-text-b">Informações de seu amor</h4>
</div>
