<div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
  <i class="fa-solid fa-person fa-lg m-0 p-0 mx-3 wedding-icons-color"></i>
  <p class="m-0 p-0 userw-title-text"><strong>Nome:</strong> <%= current_user.first_name.capitalize %> </p>
</div>
<div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
  <i class="fa-solid fa-person fa-lg m-0 p-0 mx-3 wedding-icons-color"></i>
  <p class="m-0 p-0 userw-title-text"><strong>Sobrenome: </strong> <%= current_user.last_name.capitalize %> </p>
</div>
<div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
  <i class="fa-solid fa-phone m-0 p-0 mx-3 wedding-icons-color"></i>
  <p class="m-0 p-0 userw-title-text"><strong>Telefone: </strong> <%= number_to_phone(current_user.phone, pattern: /\A(\d{2})(\d{5})(\d{4})\z/, area_code: true) %> </p>
</div>
<div class="mt-4 mx-1 w-50">
  <%= link_to "Editar", edit_user_registration_path, class: "btn btn-outline-warning rounded-3 shadow-sm w-25" %>
</div>
