<div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
  <i class="fa-solid fa-at m-0 p-0 mx-3 wedding-icons-color"></i>
  <p class="m-0 p-0 userw-title-text"><strong>E-mail:</strong> <%= current_user.email %></p>
</div>
<div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
  <i class="fa-solid fa-lock m-0 p-0 mx-3 wedding-icons-color"></i>
  <p class="m-0 p-0 userw-title-text"><strong>Senha:</strong> **********</p>
</div>
<div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
  <i class="fa-regular fa-calendar-plus m-0 p-0 mx-3 wedding-icons-color"></i>
  <p class="m-0 p-0 userw-title-text"><strong>Criado em:</strong> <%= current_user.created_at.strftime("%d/%m/%Y") %> </p>
</div>
<div class="mt-4 mx-1 w-50">
  <%= link_to "Editar", edit_user_registration_path, class: "btn btn-outline-warning rounded-3 shadow-sm w-25" %>
</div>
