// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  min-height: 100vh;
  flex: 1;
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
}

.body-content {
  min-height: 90vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "protest-riot";
  font-weight: bolder;
  color: #3a383a;
}

p {
  font-family: "kanit";
  color: #3a383a;
}
