<div class="container w-75 mt-5 text-allign">
  <h1>Criar Avaliação</h1>
  <p>Conte sua experiência com a Casa dos Noivos</p>
</div>

<div class="container my-5 flex-item-align-text">
  <%= render 'form' %>
</div>
